@using Kinare.FormSystem
<div class="legal" ng-controller="app.views.layout.sidebarFooter as ctrl">
    <div class="copyright">
        &copy; {{ctrl.currentYear}} <a href="javascript:void(0);">FormSystem</a>.
    </div>
    <div class="version">
        <b>Version </b> v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</div>