<div class="row parentHeight">
    <div class="slider">
        <div class="sliderContainer" id="{{ctrl.sliderContainerId}}">
        </div>
        <div class="sliderControlls parentHeight" id="{{ctrl.sliderControllsId}}">
            <div class="sliderControllLeft parentHeight">
                <button type="button" class="btn btn-primary parentHeight" ng-click="ctrl.moveSlide(0)">
                    <i class="fa fa-caret-left"></i>
                </button>
            </div>
            <div class="sliderControllRight parentHeight">
                <button type="button" class="btn btn-primary parentHeight" ng-click="ctrl.moveSlide(1)">
                    <i class="fa fa-caret-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
